<h2>Ninja Listitng</h2>
<form id="filter">
  <label for="termInput">Filter ninjas by name:</label>
  <input type="text" [(ngModel)]="term" name="termInput" />
</form>

<ul id="ninjas-listing">
  <li *ngFor="let ninja of ninjas | filter:term">
    <div class="single-ninja">
      <!-- Belt Colour -->
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
      <!-- Ninja Name -->
      <h3>{{ninja.name}}</h3>
      <div (click)="fbRemoveData(ninja.key)" [attr.data-name]="ninja.name">delete</div>
    </div>
  </li>
</ul>

<form id="add-ninja">
  <input type="text" [(ngModel)]="name" name="nameInput" />
  <input type="text" [(ngModel)]="belt" name="beltInput" />
  <button (click)="fbPostData(name, belt)">Add Ninja</button>
</form>